@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto:wght@400;700&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-size: 100%;
}
html{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
body{
    background: url('../img/bg.png') repeat-x #629d66;
}
#container{
    background-color: white;
    max-width: 900px;
    margin:10px auto;
}
#header{
    height: 240px;
    background: url('../img/logo1.jpg');
}
#header h1{
    font-size: 5em;
    color:white;
    text-transform: uppercase;
    padding: 80px 0 0 400px;
    font-weight: normal;
}
#sidebar{
    width:19.9999%;
    float:left;
}
#content{
    width:79.9999%;
    float:left;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  #content .news{
    margin: 20px 100px 40px 0;
  }

  #content .news h2{
    font-size: 2em;
    padding-bottom: 20px;
  }
  #content .news p{
    line-height: 1.5;
    text-align: justify;
  }
  #content .news p img{
    float:left;
    margin-right: 20px;
  }
  #sidebar .block{
    background: url('../img/img02.gif') no-repeat right bottom #96a96f;
    margin-top:20px;
    margin-right: 10px;
    padding-bottom: 40px;
}
  #sidebar .block h3{
    background: #203926;
    color:white;
  }
  #sidebar .block ul{
    list-style-type: none;
  }

  #sidebar .block ul li .menupont{
    padding:10px;
    display:inline-block;
    text-decoration: none;
    color:#616c4c;
  }
  #sidebar .block ul li .menupont:hover{
    color:white;
    text-decoration: underline;
  }
  #footer{
    background: #203926;
    color:white;
    text-align: center;
  }